<!--This is using template inheritance-->
{% extends "base2.html" %}
{% block base2 %}
<style>
    body{
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image:url({{url_for('static', filename='images/about.jpg')}})
    }
</style>
<div class="content-section2">
    <!--body class="img js-fullheight" style="background-image: url(static/images/about.jpg);"-->
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 my-text">Welcome to Video Game Library And Sales {{current_user.firstname}}.</legend>
        </fieldset>
        <div class="content"> 
        <body>
            <h1>Your Ultimate Video Game Library and Marketplace</h1>
            <div style= "float:right;position: relative; right: 10px;">
                <img src="./static/images\videogamelibrarysales2.jpg" width="200"/>
            </div>

            <p class='col-6 my-text'>
                At Video Game Library and Sales, we're passionate about video games, and we know you are too! Whether you're a seasoned collector or just starting out,
                platform offers everything you need to manage your personal video game collection, assess its value, and connect with other collectors.
            </p>
            <p class='my-text'> Features:</p>
            <OL class='col-6 my-text'>
                <li>Create Your Personal Library:</li>
                <UL>
                    <li>Easily catalog your video games, consoles, and accessories.</li>
                    <li>Add details like condition, edition, and release year</li>
                    <li>Upload photos of your collection items.</li></UL>
                <li>Valuation Tools:</li>
                <UL>
                    <li>Wondering how much your rare NES cartridge or vintage Playstation console is worth? Our valuation tools have you covered!</li>
                    <li>Get real-time estimates based on market data and historical sales.</li></UL>
                <li>Marketplace for Collectors:</li>
                <UL>
                    <li>Ready to part wiht a beloved game or console? List it in our private collector's marketplace.</li>
                    <li>Connect with other enthusiasts who appreciate the value of your collection.</li></UL>
                <li>Community Interaction:</li>
                <UL>
                    <li>Join our active community of video game collectors.</li>
                    <li>Share your favorite finds, discuss gaming history, and learn from fellow collectors.</li></UL>
                <li>Export Your Data:</li>
                <UL>Need to keep track of your collection offline? Export your data to a spreadsheet anytime.</li></UL>
            </OL>
            <div style= "float:right;position: relative; left: 10px;">
                <img src="./static/images\videogamelibrarysales.jpg" width="200"/>
            </div>
            <br>
            <p class='my-text'>How It Works:</p>
            <OL class='col-6 my-text'>
                <li>Sign Up:</li>
                <UL>
                    <li>Create an account on Video Games Library and Sales.</li>
                    <li>Start adding your games and consoles to your library</li></UL>
                <li>Explore and Value:</li>
                <UL>
                    <li>Use our search feature to find specific titles or browse by platform</li>
                    <li>Check the estimated value of your collection</li></UL>
                <li>Sell or Trade:</li>
                <UL>
                    <li>Ready to sell? List your items in the marketplace.</li>
                    <li>Negotiate with other collectors and find the right buyer.</li></UL>
            </OL>
            <br>
            <p class='my-text'>Why Choose Video Game Library And Sales?</p>
            <UL class='my-text'>
                <li>Comprehensive Database: Our platform covers games, consoles, and accessories and accross various generations.</li>
                <li>User-Friendly Interface: Intuitive design makes managing your collection in a breeze.</li>
                <li>Passionate Community: Connect with fellow gamers who share your enthusiasm.</li></UL>
            <br>
            <p class='my-text'>Join us today and unlock the full potential of your video game collection!</p>
                

            

            



            <br>
            <nav>
            </nav>
        <!--/body-->
        </div>
    </form>

</div>


{% endblock base2 %}    