<!--This is using template inheritence-->
{% extends "base2.html" %}
{% block base2 %}
<style>
	body{
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-image:url({{url_for('static', filename='images/admin.jpg')}})
	}
</style>
    <div class="content-section2">
        <!--body class="img js-fullheight" style="background-image: url(static/images/admin.jpg);"-->
            <legend class="display-3 border-bottom lead text-center text-white mb-4">Admin Area</legend>

			<div class="row my-1 align-items-center justify-content-center">
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<img src="/static/images/user-status.jpg" class="card-img-top" alt="user status">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Edit User Accounts</h4>
							<a href="/view_accounts" class="btn btn-outline-primary btn-lg mt-3">Change Status</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<img src="/static/images/manufacturer.jpg" class="card-img-top" alt="Manufacturer">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Add / Edit Manufacturer</h4>
							<a href="/manufacturer" class="btn btn-outline-primary btn-lg mt-3">Manufacturer</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<img src="/static/images/game-system.jpg" class="card-img-top" alt="game systems">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Add / Edit Game Systems</h4>
							<a href="/game_systems" class="btn btn-outline-primary btn-lg mt-3">Game Systems</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<img src="/static/images/video_games.jpg" class="card-img-top" alt="video games">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Add / Edit Video Games</h4>
							<a href="/sell" class="btn btn-outline-primary btn-lg mt-3">Video Games</a>
						</div>
					</div>
				</div>
			</div>
		<!--/body-->
	</div>




</html>


{% endblock base2 %}    