<!--This will be the baseline page for the login page.
There will not be a navbar on this page. Once logged in there will be a navbar-->
<!doctype html>
<html lang="en">
  <head>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  
  
    <!--This is set as our default title for each tab
        unless the specific page has a title name. Then it 
        will me hyphenated ex: Mathmaticus-about-->
        {% if title %}
        <title> VGLS - {{title}} </title>
        {% else %}
        <title> Video Game Library </title>
        {% endif %}
  <!--This will add a favicon to the webpage tab instead of having the gray world icon-->
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
	</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('login')}}">VGLS Login</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('registration')}}">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('change_password')}}">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('view_user')}}">Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Video Game Consoles
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Playstation</a></li>
                <li><a class="dropdown-item" href="#">Nintendo</a></li>
                <li><a class="dropdown-item" href="#">Xbox</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                Video Games
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/playstation_one">Playstation One</a></li>
                <li><a class="dropdown-item" href="/nes">Nintendo Switch</a></li>
                <li><a class="dropdown-item" href="/nes">Nintendo Entertainment System</a></li>
                <li><a class="dropdown-item" href="/xbox_one">Xbox One</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories = True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class='alert alert-{{ category }}'>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block base %} {% endblock base %}
    <p> <font color = white>&copy; VGLS is a subsidiary of L.L.A.M.A. Inc.</font></p>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>




  <!--script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script-->

</html>