{% extends "base2.html" %}
{% block base2 %}
<style>
    body{
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image:url({{url_for('static', filename='images/game_systems.webp')}})
    }
</style>
<div class="content-section2">
    <!--body class="img js-fullheight" style="background-image: url(static/images/edit-user.jpg);"-->
	 	<form method ="POST" action = ''>
			<fieldset class = 'from-group'>
				<legend class="display-3 border-bottom lead text-center mb-4">Add/Edit/Delete Consoles</legend>
				<div class="row justify-content-center">
					<div class='media-body col-6'>
						<a class='btn btn-outline-info m-1' href="{{url_for('create_consoles')}}">Create Console</a>
                        {% for account in accounts %}
							<article class='media content-section'>
								<div class='media-body'>
									<div class='article-metadata'>
										<a class="mr-4">{{account.console}}</a>
										<a class="mr-4">{{account.manufacturer}}</a>
										<a class="ml-4 mr-6" href="{{url_for("delete_console", user_id=account.id)}}">Delete</a>
										<!--I need to update this line of code to update the console information-->
										<a class="ml-4 mr-6" href="{{url_for('console_update', user_id=account.id)}}">Update Manufacturer</a>
									</div>
								</div>
							</article>
						{% endfor %}
					</div>
					</div>
				</div>
			</fieldset>
		</div>
	</form>
</div>
{% endblock base2 %}