{% extends "base2.html" %}
{% block base2 %}
<body class="img js-fullheight" style="background-image: url(static/images/edit-user.jpg);">
	<section id="intro">
		<legend class="display-3 border-bottom lead text-center text-white mb-4">Edit / Delete Accounts</legend>
		<div class='row g-4 justify-content-center align-items-center'>
			<div class="col-md-5 text-center text-md-start">
				<h3 class="text-white">Enter username you want to edit or delete</h3>
			</div>
		</div>
		<div class='row justify-content-center'>
			<div class="col-md-3 text-center mb-5">
				<h3>Username</h3>
			</div>
			<div class="col-md-3 text-center mb-5">
				<div class="form-group text-white">
					<form method = "POST", action="">
        	            {{ form.hidden_tag() }}
		    	  		<div class="form-group">
                	        {% if form.username.errors %}
                    	    {{ form.username(class="form-control form-control-lg is-invalid") }}
                        	<div class="invalid-feedback">
                            	{% for error in form.username.errors %}
                            	<span>{{ error }}</span>
                            	{% endfor %}
                        	</div>
                        	{% else %}
                        	{{ form.username(class="form-control form-control-lg") }}
                        	{% endif %}
		      			</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 text-center mb-5">
				<h3>test line<h3>
			</div>
		</div>
	</section>


</body>
</html>
{% endblock %}