{% extends "base2.html" %}
{% block base2 %}

<style>
	body{
		background-repeat:no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-image:url({{url_for('static', filename='images/backiee-275311.jpg')}})
	}
</style>

<div class="content-section2">
    <!--body class="img js-fullheight" style="background-image: url(static/images/edit-user.jpg);"-->
	 	<form method ="POST" action = ''>
			<fieldset class = 'from-group'>
				<legend class="display-3 border-bottom lead text-center text-gray mb-4">Video Game Search</legend>
                <div class="row justify-content-center">
					<div class='media-body col-5'>
                        {{ form.hidden_tag() }}
                        <div class="form-group text-white">
                            {{ form.vg_search.label(class="form-control2-label") }}
                            {% if form.vg_search.errors %}
                                {{ form.vg_search(class="form-control2 form-control2-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.vg_search.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.vg_search(class="form-control2 form-control2-lg") }}
                            {% endif %}
                        </div>
                        {{ form.submit(class="btn btn-outline-info") }}
                        <a class='btn btn-outline-info m-1' href="{{url_for('search')}}">Clear</a>
                        {% for name in results_names %}
                            {% for console in results_names[name][0] %}
							    <article class='media content-section'>
								    <div class='media-body'>
									    <div class='article-metadata'>
										    <a class="mr-2">Video Game:  {{name}}</a>
                                            <a class="mr-2">Consoles:  {{console}}</a>
                                            <a class="mr-2">Lowest Price:  {{results_names[name][1]}}</a>
                                            <br>
                                            <a class="mr-2">Description:  {{results_names[name][2]}}</a>
                                            <br>
                                            <a class="ml-4 mr-6" href="{{url_for('add_search_to_library', user_id=user, name = name, console = console)}}">Add To Library</a>
									    </div>
								    </div>
							    </article>
                            {% endfor %}
						{% endfor %}
                    </div>
                </div>
            </fieldset>
        </form>
</div>

{% endblock base2 %}