{% extends "base.html" %}
{% block base %}
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='main.css') }}">
<main role='main' class="container">
<style>
    body{
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image:url({{url_for('static', filename='images/accountinfo.jpg')}})
    }
</style>
<main role='main' class="container">
    <!--body class="img js-fullheight" style="background-image: url(static/images/accountinfo.jpg);"-->
        <legend class="display-3 border-bottom lead text-center mb-4">User Reviews</legend>
        <div class='row'>
            <div class='col-md-8'>
                {% for post in posts %}
                    <article class='media content-section'>
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
                        <div class='media-body'>
                            <div class='article-metadata'>
                                <a class="mr-2">{{ post.author.username }}</a>
                                <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                            </div>
                            <h2><a class='article-title' href="{{ url_for('view_user_detail', review_id=post.id) }}" >{{ post.title }}</a></h2>
                            <!--p class='article-content'>{{ post.content }}</p-->
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    <!--/body-->
</main>

{% endblock base %}