{% extends "base2.html" %}
{% block base2 %}
	<body class="img js-fullheight" style="background-image: url(static/images/welcome.jpg);">
	<section class="ftco-section">
		<div class="container-md">
			<div class="text-center py-4">
				<h2 class="text-white">Welcome to Video Games Library & Sales</h2>
				<p class="lead text-white">Please select the option you would like to perform.</p>
			</div>
			<div class="row my-5 align-items-center justify-content-center">
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Create Library</h4>
							<p class="lead display-5 my-4 text-primary fw-bold">Click below to create your library if you have not created one yet.</p>
							<a href="/admin" class="btn btn-outline-primary btn-lg mt-3">Admin Area</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Create Library</h4>
							<p class="lead display-5 my-4 text-primary fw-bold">Click below to create your library if you have not created one yet.</p>
							<a href="/admin" class="btn btn-outline-primary btn-lg mt-3">Admin Area</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3 col-xl-2">
					<div class="card border-0">
						<div class="card-body text-center py-4">
							<h4 class="card-title">Create Library</h4>
							<p class="lead display-5 my-4 text-primary fw-bold">Click below to create your library if you have not created one yet.</p>
							<a href="/admin" class="btn btn-outline-primary btn-lg mt-3">Admin Area</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	</body>
</html>
{% endblock base2 %}